/* Estilos para o carrossel de imagens */
.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    /* Adicionando transição suave */
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* Bordas arredondadas */
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #339ca3;
    color: #fff;
    padding: 20px 0;
    font-family: "Madimi One", sans-serif;
    border-bottom: 3px solid #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    height: 115px;
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li.logo {
    margin-right: 0;
}

/* Estilos para os containers dos cães disponíveis e das avaliações dos adotantes */
.adoption-container,
.reviews-container {
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.adoption-container h2,
.reviews-container h2 {
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #339ca3;
}

.dog-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #1c858c;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.dog-card h3,
.dog-card p {
    margin: 10px 0;
    color: #000;
}

.dog-card:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.dog-card button {
    background-color: #f5a40f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dog-card button:hover {
    background-color: #1c858c;
}

body {
    background: #e6e1d2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.review {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 10%;
    height: auto;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review h3 {
    color: #1c858c;
    margin-bottom: 10px;
}

.review p {
    font-style: italic;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 950px;
}

.logo {
    position: relative;
}

/* Estilos para o projeto */
.our-project {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.our-project h2 {
    font-family: "Madimi One", sans-serif;
    color: #339ca3;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.our-project p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

/* Estilos para o projeto */
.our-project {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.our-project h2 {
    font-family: "Madimi One", sans-serif;
    color: #339ca3;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.our-project p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

/* Estilos adicionais */
.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 950px;
}

.logo {
    position: relative;
}

/* Estilos para o rodapé */
footer {
    background-color: #339ca3;
    color: #fff;
    padding: 20px 0;
    font-family: "Madimi One", sans-serif;
    text-align: center;
}

/* Estilos para o corpo */
body {
    background: #e6e1d2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para links */
a {
    color: #339ca3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}