/* Estilos para o carrossel de imagens */
.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    /* Adicionando transição suave */
}

.carousel-image {
    width: 1100px;
    height: 550px;
    border-radius: 10px;
    /* Bordas arredondadas */
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #296e40de;
    color: #fff;
    padding: 25px 100px;
    font-family: "Madimi One", sans-serif;
    border-bottom: 3px solid #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    height: 115px;
    margin-bottom: 60px;
    text-align: left; /* Centralizar à esquerda */
    display: flex;
    align-items: center;
    position: relative; /* Adiciona posição relativa para o header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    margin-left: 20px; /* Ajusta a margem para posicionar a logo à esquerda */
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

/* Estilos para os containers dos cães disponíveis e das avaliações dos adotantes */
.adoption-container,
.reviews-container {
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.adoption-container h2,
.reviews-container h2 {
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #296e40de;
}

.dog-card {
    display: inline-block;
    width: 150px; /* Reduzindo a largura do card para 150 pixels */
    margin: 10px;
    padding: 10px;
    border: 3px solid #000000b6;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-card img {
    width: 100px; /* Reduzindo o tamanho da imagem para 100 pixels de largura */
    height: 100px; /* Ajustando a altura da imagem proporcionalmente */
    border-radius: 50%;
}


.dog-card h3,
.dog-card p {
    margin: 10px 0;
    color: #000;
}

.dog-card:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.dog-card button {
    background-color: #296e40de;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dog-card button:hover {
    background-color: #296e40de;
}

.review {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 250px; /* Defina uma altura fixa para os cards de avaliação */
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a altura definida */
}

.review img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review h3 {
    color: #296e40de;
    margin-bottom: 10px;
}

.review p {
    font-style: italic;
    margin: 0;
    overflow: auto; /* Adiciona overflow auto para permitir rolagem em caso de texto longo */
    text-overflow: unset; /* Remove a propriedade de texto de overflow */
    display: block; /* Define o display como bloco */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    max-height: none; /* Remove a altura máxima */
}


/* Estilos para o projeto */
.our-project {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.our-project h2 {
    font-family: "Madimi One", sans-serif;
    color: #296e40de;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.our-project p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

/* Estilos para o rodapé */
footer {
    background-color: #296e40de;
    color: #fff;
    padding: 20px 0;
    font-family: "Madimi One", sans-serif;
    text-align: center;
}

/* Estilos para o corpo */
body {
    background: #e6e1d2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para links */
a {
    color: #339ca3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
