/* Estilos para o carrossel de imagens */
.carousel-container {
    width: 90%; /* Aumenta a largura do carrossel para 90% da largura da página */
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para destacar o carrossel */
    border-radius: 15px; /* Bordas arredondadas opcionais */
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    background-color: #f2f2f2;
}

.carousel-image {
    width: 100%; /* A largura da imagem será 100% da largura do contêiner pai */
    height: auto; /* Mantém a proporção da altura da imagem */
    border-radius: 10px; /* Bordas arredondadas */
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #296e40de;
    color: #fff;
    padding: 25px 100px;
    font-family: "cambria";
    border-bottom: 3px solid #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    height: 115px;
    margin-bottom: 60px;
    text-align: left; /* Centralizar à esquerda */
    display: flex;
    align-items: center;
    position: relative; /* Adiciona posição relativa para o header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    margin-left: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    margin-left: 20px; /* Ajusta a margem para posicionar a logo à esquerda */
}

.logo img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

/* Estilos para os containers dos cães disponíveis e das avaliações dos adotantes */
.adoption-container,
.reviews-container {
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.adoption-container h2,
.reviews-container h2 {
    font-family: "cambria";
    font-size: 40px;
    color: #296e40de;
    margin-bottom: 30px;
}

.dog-card {
    display: inline-block;
    width: 160px; /* Reduzindo a largura do card para 150 pixels */
    margin: 10px;
    padding: 20px;
    border: 2px solid #000000b6;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-card img {
    width: 160px; /* Reduzindo o tamanho da imagem para 150 pixels de largura */
    height: 160px; /* Ajustando a altura da imagem proporcionalmente */
    border-radius: 50%;
}

.dog-card h3 {
    margin: 10px 0;
    font-family: "cambria";
    font-size: 25px;
    color: #000000de;
}

.dog-card p {
    margin: 10px 0;
    color: #333;
    font-size: 17px;
}

.dog-card:hover {
    transform: translateY(-10px); /* Move o card 10px para cima */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.dog-card button {
    background-color: #296e40de;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.dog-card button:hover {
    background-color: #296e40de;
}

.review {
    background-color: #f2f2f2;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 250px; /* Defina uma altura fixa para os cards de avaliação */
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a altura definida */
    border: 2px solid #000000b6;
}

.review img {
    width: 120px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

.review h3 {
    color: #296e40de;
    margin-bottom: 10px;
}

.review p {
    margin: 15px 0;
    font-size: 18px;
    color: #333;
    text-align: justify;
    line-height: 1.6;
}

/* Estilos para o projeto */
.our-project {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para destacar o carrossel */

}

.our-project h2 {
    font-family: "cambria";
    color: #296e40de;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.our-project p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.6;
}

/* Estilos para o rodapé */
footer {
    background-color: #296e40de; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhamento do texto centralizado */
    font-size: 30px;
    font-family: "cambria";
}

footer h3 {
    font-size: 40px;
    color: #ffffff;
}

footer img {
    height: 52px;
    width: 42px;
    padding-right: 20px;
    margin: 20px;
}

footer p {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: inline; /* Exibir itens de lista horizontalmente */

}

/* Estilos para o corpo */
body {
    background: #e6e1d2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para links */
a {
    color: #339ca3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Para telas com largura menor que 768px (tablets e smartphones) */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
        text-align: center;
        height: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .project-content, .adoption-container, .reviews-container {
        margin: 20px 10px;
        padding: 15px;
    }

    .dog-card {
        width: 100%; /* O card ocupa toda a largura disponível */
        margin: 10px 0;
    }
    .carousel-container {
        width: 100%;
        border-radius: 0;
    }

    .carousel-image {
        border-radius: 0;
    }
}